/* style.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #5343eb;
  color: #fbf6e2;
}

.hero {
  background-image: url('images/bananafish.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background-color: rgba(49, 39, 165, 0.7); /* yarı saydam çerçeve */
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 90%;
}

.site-title {
  font-size: 4rem;
  color: #ffdd15;
  text-shadow: 2px 2px #3127a5;
  margin: 0;
}

.site-subtitle {
  font-size: 1.2rem;
  color: #fae5af;
  margin-top: 1rem;
}

.content {
  padding: 3rem 2rem;
  background-color: #3127a5;
  color: #fae5af;
}

.intro h2 {
  font-size: 2.5rem;
  color: #94ff7a;
  margin-bottom: 1rem;
}

.intro p {
  font-size: 1.3rem;
  color: #fbf6e2;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #5343eb;
  color: #fae5af;
  font-size: 0.9rem;
}
