/* style.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #5343eb;
  color: #fbf6e2;
}

.hero {
  background-image: url('images/bananafish.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  text-align: center;
  background-color: rgba(49, 39, 165, 0.7); /* #3127a5 transparent */
  padding: 2rem;
  border-radius: 1rem;
}

.site-title {
  font-size: 4rem;
  color: #ffdd15;
  text-shadow: 2px 2px #3127a5;
}

.site-subtitle {
  font-size: 1.2rem;
  color: #fbf6e2;
}

.hero-image {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 2rem;
  background-color: #3127a5;
  color: #fae5af;
}

.intro h2 {
  font-size: 2rem;
  color: #ffdd15;
}

.intro p {
  font-size: 1.2rem;
  color: #fbf6e2;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #5343eb;
  color: #fae5af;
  font-size: 0.9rem;
}
